@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 0.5s;
    letter-spacing: 1px;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 3rem;
    line-height: 3rem;
}
h4 {
    color: red;
}

.btn-read {
    padding: 1rem;
    color: #fff;
    background: grey;
    border: none;
    border-radius: 9px;
    margin: 1rem 1rem 0 0 ;
    cursor: pointer;
}
.btn-buy {
    padding: 1rem;
    color: #fff;
    background: red;
    border: none;
    border-radius: 9px;
    margin: 1rem 1rem 0 0 ;
    cursor: pointer;
}
.btn-read-sm {
    padding: 0.5rem 1.5rem;
    color: #fff;
    background: grey;
    border: none;
    border-radius: 2px;
    margin: 1rem 1rem 0 0 ;
    cursor: pointer;
}
.btn-buy-sm {
    padding: 0.5rem 1.5rem;
    color: #fff;
    background: red;
    border: none;
    border-radius: 2px;
    margin: 1rem 1rem 0 0 ;
    cursor: pointer;
}
.btn-read:hover {
    background: red;
    box-shadow: 2px 1px 3px gray;
}
.btn-buy:hover {
    background: grey;
    box-shadow: 2px 1px 3px rgb(223, 172, 172);
}
.btn-read-sm:hover {
    background: red;
    box-shadow: 2px 1px 3px gray;
}
.btn-buy-sm:hover {
    background: grey;
    box-shadow: 2px 1px 3px rgb(223, 172, 172);
}
/* Header  */
.header {
    margin-bottom: 1rem;
}

.header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.header .logo-pic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo .user .icons{
    background: rgb(223, 213, 213);
    width: 50px;
    height: 50px;
    padding: 1.5rem;
    margin: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px grey;
}
.header .logo .user .icons:hover {
    box-shadow: 2px 3px 3px rgb(151, 142, 142);
    background: red;
}
.header .logo .user{
    display: flex;
}
.header .logo .user .search-bar{
    border: none;
    width: 300px;
    display: flex;
    align-items: center;
}
.header .logo .user .search-bar input{
    background: #ccc;
    border: none;
    width: 98%;
    padding: 1rem;
    outline: none;
    border-radius: 5px;
}

.header .logo .user a{
    color: #fff;
}


/* Menu  */
.header .nav-bar ul{
    background: red;
    list-style: none;
    display: flex;
    box-shadow: 2px 2px 5px gray;  
}
.header .nav-bar ul li {
    padding: 1rem;
}
.header .nav-bar ul li:hover{
    background: #ccc;
    z-index: 1;
}

/* active  */
#active{
    background: black;
}

.header .nav-bar a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.banner .container {
    display: flex;
    line-height: 1rem;
}
.banner .container p{
    margin-top: 1rem;
    line-height: 1.5rem;
}
.banner .container h2{
    color: red;
    font-size: 2rem;
}
.banner .container .description{
    line-height: 2rem;
    margin-top: 60px;
    margin-left: 1rem;
}
.socail-link {
    background: #ccc;
    display: grid;
    justify-content: baseline;
    right: 0;
    padding: 5px;
    position: fixed;
    border-radius: 1rem 0 0 1rem;
}
.socail-link img{
    width: 40px;
}

/* Link  */
li a{
    display: flex;
    align-items: inherit;
}
.nav-bar li .more-option {
    display: none;
    margin-top: 1rem;
    
}
.nav-bar li:hover .more-option{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    position: absolute;
    background: rgba(0, 0, 0, 0.781);
}
.nav-bar li a:hover {
    color: red;
    background: none;
}

.categories .heading-title {
    background: grey;
    width: 200px;
    height: 50px;
    justify-content: center;
    display: flex;
    color: #fff;
    align-items: center;
    margin: 0 auto;
    margin-top: 60px;
}
.categories .container .item img{
    width: 100%;
    height: 200px;
}
.categories .container .item {
    width: 15%;
    margin: 0.5rem;
    box-shadow: 1px 1px 3px grey;
}
.categories .container .item:hover{
    background: #ccc;
    box-shadow: 3px 5px 10px grey;
}
.categories .container .item div{
    background: rgba(255, 0, 0, 0.609);
    padding: 1rem;
    position: relative;
    text-align: center;
    margin-top: -19%;
    cursor: pointer;
}
.categories .container .item div:hover {
    background: red;
    box-shadow: 2px 2px 5px red;
}
.categories .container .item div a {
    text-decoration: none;
    color: #fff;
}
.categories .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* shoping */
.shopping {
    width: 100%;
    border: 2px solid red;
    margin: 1rem 0;
}
.shopping .heading-title {
    color: #fff;
    width: 100%;
    display: flex;
    background: grey;
}
.shopping .heading-title div {
    background: red;
    padding: 1rem 3rem 1rem 2rem;
    clip-path: polygon(0 0, 100% 0%, 68% 100%, 0% 100%);
}
.shopping .heading-title .al-center {
    text-align: center;
    display: flex;
    align-items: center;
}
.shopping .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
}
.shopping .container i{
    color: red;
}
.shopping .container .col-3 {
    width: 24%;
    text-align: center;
    margin: 5px;
    padding: 1rem;
}
.shopping .container .col-4 {
    width: 32%;
    margin: 0 5px;
    margin: 0 auto;
}
.container .col-3 img{
    width: 100%;
}

.shopping .container .col-3:hover{
    background: #e0e0e0;
box-shadow:  10px 10px 20px #aaaaaa,
             -10px -10px 20px #ffffff;
}

.shopping .container .col-3 .price {
    font-size: 1.2rem;
    color: red;
    line-height: 2rem;
}
.shopping .container .col-3 .line {
    width: 100%;
    height: 1px;
    background: grey;
    margin-top: 10px;
}
.shopping .footer-shop{
    justify-content: right;
    display: flex;
    margin: 1rem;
}

/* Reverse  */
.reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
}

/* Contact  */
.form .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .container form{
    width: 40%;
    margin: 5rem;
    padding: 1.5rem 0; 
    border-radius: 5px;
    border-radius: 15px;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    box-shadow:  5px 5px 31px #848484,
                 -5px -5px 31px #ffffff;
}

.form .container .form-group{
    width: 100%;
}

.form .container .form-group{
    width: 95%;
    margin: 0 auto;
}
.form .container .form-group .form-item{
    width: 100%;
    margin-top: 0.5rem;
}
.form-group .form-item button{
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.form .container .form-group .form-item textarea{
    width: 100%;
    outline: none;
    padding: 1rem;
    resize: none;
    border: none;
    border-bottom: 2px solid gray;
    background: none;
}

.form .container .form-group .form-item input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border-bottom: 1.5px solid gray;
    background: none;
}
::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form .container .form-group .form-item input:hover {
    border-bottom: 2.1px solid red;
}
.form .container .form-group .form-item textarea:hover {
    border-bottom: 2.1px solid red;
}
.two-col {
    display: flex;
}
.m-l {
    margin-left: 8px;
}
.form .container .description{
    width: 50%;
}
.form .container .description img{
    width: 80%;
}
.form .container .description h1{
    margin-top: 1rem;
}
.form .container button {
    border-radius: 1px;
}
section {
    width: 100%;
}
.col6 {
    width: 90%;
    text-align: center;
}
.col6 div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form .icon{
    text-align: center; 
}
.form img {
    width: 50px;
}
.map {
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    line-height: 2rem;
}


/* About us  */
.about .container {
    margin-top: 5rem;
}
.about .container img{
    width: 50%;
}
.about .container .description{
    position: relative;
    margin-top: 2rem;
}
.about .title {
    border: 2px solid red;
}

.about .title h2{
    background: red;
    width: 290px;
    padding: 10px;
    color: #fff;
    font-size: 1.2rem;
    clip-path: polygon(0 0, 100% 0%, 68% 100%, 0% 100%);
}
.about .title div{
    width: 99%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}
.about .title div .item{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .title img {
    width: 200px;
}

.border {
    width: 100%;
    border: 2px solid red;
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.border h2{
    background: red;
    width: 290px;
    padding: 10px;
    color: #fff;
    font-size: 1.2rem;
    clip-path: polygon(0 0, 100% 0%, 68% 100%, 0% 100%);
}
.group-2 {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 1rem;
}
.group-2 .col-3 {
    display: flex;
    align-items: center;
}
.group-2 .col-3 .icon {
    font-size: 40px;
    width: 70px;
    height: 70px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: grey;
    margin-right: 1rem;
    
}
.group-2 .col-3 h5 {
    font-size: 1.2rem;
    color: red;
}
.group-2 .col-3 p {
    font-size: 1.2rem;
    color: #ccc;
}

/* Footer  */
.footer {
    background: grey;
    padding: 3rem;
}
.footer h2{
    text-decoration: underline solid red;
}

.footer .container p{
    font-weight: lighter;
    color: #fff;
}

.footer .container .logo {
    line-height: 1rem;
    margin-top: 1rem;
}
.footer .container .logo img{
    width: 50%;
}
.footer .container h2 {
    color: rgba(15, 15, 15, 0.993);
    font-size: 1.2rem;
}
.footer .container h1 {
    color: rgba(15, 15, 15, 0.993);
    font-size: 2rem;
}
.footer .container{
    display: flex;
    justify-content: space-evenly;
    line-height: 2rem;
}
.footer .container .item ul {
    list-style: none;
}
.footer .container .item input {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
}

.footer .container .item a{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}
.footer .container .item a:hover {
    color: red;
}
.c-white {
    color: #fff;
}

/* Add cart  */
.card {
    width: 50%;
    background:#ccc;
    padding: 1rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card .header {
    display: flex;
    justify-content: space-between;
}
.card .body {
    display: flex;
    margin-top: 3rem;
    align-items: center;
}
.item-center {
    text-align: center;
}
.m-b {
    margin-bottom: 1rem;
}

.card span {
    color: red;
}
.line-1 {
    width: 100%;
    background: #000;
    height: 1px;
    margin: 0 auto;
}

/* Button  */
.button-48 {
  appearance: none;
  background-color: gray;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  margin-top: 1rem;
  opacity: 1;
  outline: 0;
  padding: 1.1em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: red;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}